body{
    background-image: url(https://i.ibb.co/jzpjG2f/cover.png);
    background-size: 100%;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

/* card */
.cartas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
.card{
    padding: 10px;
    margin: 10px;
    background-image: linear-gradient(#f55353, #7dffe1);
    border-radius: 15px;
}
.cardSola{
    margin: 10px auto;
}
.card img{
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
}
.card img:hover{
    transform: scale(1.03);
}
.mosaico{
    display: flex;
    width: 250px;
    height: 350px;
    margin: auto;
}
.mosaico2{
    display: flex;
    width: 300px;
    height: 400px;
    margin: auto;
}
/* footer */
hr{
    width: 90%;
    margin: 50px auto;
}
.contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 10px;
}
.contact ul{
    list-style: none;
}

.derechos{
    text-align: center;
}
.contact ul li a:hover{
    background-color: rgb(209, 209, 209);
}